.library {
  max-width: 600px;
  margin: 0 auto;
  padding: 0px;
  height:100vh;
  overflow: auto;
}

.library-header {
  position:fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #222;
  color: #fff;
  font-size: 0.5rem;
  z-index: 10;
}

.library-title{
  color: #ddd;
  font-size:x-large
}

.library-profile-select {
  font-size:x-small;
  margin-bottom: 20px;
  text-align: center;
}

.library-content {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 100px;
  margin-bottom: 40px;
  padding: 5px;
  padding: 15px;
  z-index: 0;
}


.library-tab-content {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
}



.library-tab-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-weight: bold;
  color: #f5f5f5;
  cursor: pointer;
  font-size:large;
}

.library-tab-header .title {
  order: 1;
  margin-right: auto;

}

.library-tab-header .arrows {
  order: 2;
  align-items:flex-end;
}


.library-tab-body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 0%;
  padding-top: 0%;
}

.library-tab-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.library-tab-body li {
  margin-bottom: 10px;
}

.library-Playlist-songs {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 0%;
  padding-top: 5%;
}

.library-Playlist-songs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.library-Playlist-songs li {
  margin-bottom: 10px;
}

.library-tab-playlist-body {
  display: flex;
  flex-wrap: nowrap; 
  overflow-x: auto;
  white-space: nowrap;
  transition: transform 0.3s ease-out;
  padding: 20px
}

.library-tab-playlist-body:hover {
  transform: translateX(-10px);
}

.library-playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  width: 200px; 
  margin-right: 10px; 
}

.library-playlist-name {
  font-size: smaller;
  font-weight: bold;
  color: #f5f5f5;
  margin-bottom: 5px; 
}

.library-playlist-length {
  font-size: x-small;
  color: #777;
}



.library-playlist-song-title {
  font-weight: bold;
  font-size: smaller;
  color:#ddd;
}

.library-playlist-song-artist {
  font-size:x-small;
  margin-top: 5px;
  color: #777
}

.library-playlist-song {
  margin-bottom: 10px;
}


.library-download {
  margin-bottom: 10px;
}

.library-download-name {
  font-size: smaller;
  font-weight: bold;
  color:#ddd;
}

.library-download-artist {
  margin-top: 5px;
  font-size:x-small;
  color: #777;
}

.library-playlist-song, 
.library-download,
.library-history-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #444;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
}

.song-details{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.library-playlist-song .play-icon, 
.library-download .play-icon, 
.library-history-item .play-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url('../../assets/padded_play.svg');
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}

.library-playlist-song-title,
.library-download-name,
.library-history-song {
  flex-grow: 1;
  font-weight: bold;
  font-size: smaller;
  color:#ddd;
}

.library-playlist-song-artist
.library-download-artist,
.library-history-artist {
  flex-shrink: 0;
  font-size:x-small;
  margin-top: 5px;
  color: #777
}

select {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  background-color: #f5f5f5;
  color: #333;
  border-radius: 0.25rem;
  appearance: none;
  outline: none;
  cursor: pointer;
}

select:hover {
  background-color: #eee;
}

select:focus {
  box-shadow: 0 0 0 2px #3f51b5;
  background-color: #fff;
}

select option {
  background-color: #fff;
  color: #333;
}



