.cardsContainer{
    display: flex;
    justify-content: center;
    position: relative;
    height: 85vh;
    flex-direction: column;
    align-items: center;
}
.chorusCard{
    display: flex;
    width: 80%;
    height: 50%;
    /* background-color: aquamarine; */
    position: absolute;
    transition: display 2s;
}
.gone{
    display: none;
}

.cardDetails{
    width: 100%;
}