.cardsContainer{
    display: flex;
    justify-content: center;
    position: relative;
    height: 80vh;
    width: 80vw;
    padding-left: 5vh;
    padding-top: 5vh;
    flex-direction: column;
    align-items: center;
}
.chorusCard{
    display: flex;
    width: 85%;
    height: 55%;
    /* background-color: aquamarine; */
    position: absolute;
    transition: display 2s;
}
.gone{
    display: none;
}
.hiddenChorusPlayer{
    display: none;
}
.cardDetails{
    width: 100%;
    border-radius: 25px;
    border: solid 3px white;
    background-size: cover;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.cardDetailsSubContainer{
    border-radius: 0px 0px 23px 23px;
    padding: 20px 15px;
    background-size: contain;
}
.songName{
    color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 0;
    padding-top: 10px;
}
.artistName{
    font-weight: 400;
    font-size: 18px;
    line-height: 0.5;
}
.hiddenDetail{
    display: none;
}
