.navContainer{
    background-color: #222222;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    justify-content: space-between;
    padding: 5px;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navIcon{
    width: 30px;
    padding: 20px;
}

.navSelected{
    opacity: 100%;
}
.navUnselected{
    opacity: 20%;
}