.music-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.song-results,
.artist-results,
.lyric-results {
  width: 90%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: white;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 10px;
}

.song-results h2,
.artist-results h2,
.lyric-results h2 {
  margin-top: 0;
  color: rgb(119, 15, 15);
  font-weight: 600;
  font-size: 18px;
}

.song-results ul,
.artist-results ul,
.lyric-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.song-results li,
.artist-results li,
.lyric-results li {
  margin-bottom: 5px;
}
